.slider{ width:100%; background:url(../../../Imgs/Banner.jpg); height:400px;background-size: cover; box-shadow: 1px 2px 10px grey;}
.slider-h3{ font-size:30px; padding:100px 0px 0px 100px; color:#000; text-shadow:1px 0.5px #CCC;}
.btn{ background:#0099da; color:#FFF; padding:9px 20px; font-size:16px; 
text-decoration:none; border-radius:3px; text-shadow:none;}
.btn:hover{ background:#0080C0;}